@media (max-width: 767px) {
  .display-3 {
    font-size: 3.5rem;
  }

  .display-4 {
    font-size: 2.5rem;
  }

  .lead {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.0rem;
  }

  h6 {
    font-size: 0.85rem;
  }
}

@media (max-width: 991px) {
  h4 {
    font-size: 1.25rem; 
  }
}


body {
  padding-top: 60px;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.jumbotron {
  background-color: #f7f7f9;
}

.btn-primary {
    color: #fff;
    background-color: #3DC7E8;
    border-color: #3DC7E8;
  }

.container-fluid {
   padding: 0;
}

.tab-content, .Index-content, .Answers-content, .Profile-expertise{
  min-height: 600px;
}

//** NAV BAR **/
.Channel-sub-nav .nav-item a:hover {
  background: lightGrey;
}

.navbar {
  background-color: white;
  border-bottom: 1px solid #e7e7e7;
  min-height: 60px;
}

.navbar-brand {
  font-size: 1rem;
  color: black;
  letter-spacing: 3px;
}

.nav-pills .nav-link.active {
    background-color: #3DC7E8;
}

.nav-item {
  cursor: pointer;
  padding-right: 15px;
}

.breadcrumb {
  background-color: white;
  margin-bottom: 0rem;
}

.breadcrumb-item-first {
  margin-left: 60px;
}

.breadcrumb-item + .breadcrumb-item::before {
    color: #3DC7E8;
    content: ">";
    font-style: normal;
}

//** MODALS **//
.modal-dialog {
  padding-top: 40px;
}

.modal-sm {
  max-width: 370px;
  padding-top: 40px;
}

.modal-footer {
  justify-content: space-between;
}

.modal-footer .row {
  width: 100%;
}

.modal-sm video {
  height: 600px;
}

.User-profile-header {
  padding: 2rem 2rem;
}

.Channel-sub-nav, .User-sub-nav {
  padding-left: 15px;
  margin-bottom: 1rem;
}

.Channel-content .card-header, .Video-content .card-header {
  border-bottom: none;
  background: none;
}

.card-footer {
  border-top: none; 
}

.Channel-content .card-block, .Profile-expertise .card-block {
  min-height: 150px;
  display: flex;
  align-items: center;
}

.Channel-card .card-title {
  min-height: 100px;
}


.Channel-content .tag-link {
  max-height: 300px;
  overflow: hidden;
}

.Answer-thumb img, .User-summary {
  cursor: pointer;
}

@media (max-width: 575px) {
  .Answer-thumb .card-title {
    margin-bottom: 0rem;
    height: 360px;
    overflow: hidden;
    position: relative;
  }

  .Answer-thumb .card-title img {
    position: absolute;
    top:-100%; left:0; right: 0; bottom:-100%;
    margin: auto;
  }

}

@media (min-width: 768px) {
  .Answer-thumb .card-block{
    padding: 0.75rem;
  }
}

@media (max-width: 767px) {
  .Channel-content .card-block, .Profile-expertise .card-block {
    min-height: 100px;
  }

  .Channel-card .card-title {
    min-height: 50px;
  }
  .Answer-thumb .card-block{
    padding: 0.5rem;
  }
}

@media (max-width: 575px) {
  .Channel-card .card-title {
    min-height: 0px;
  }
}

.Hash {
  color: #3DC7E8;
}

/** SIDEBAR **/
.sidebar a {
  color: white;
}

.sidebar .card-header {
  background: #0275d8;
  color: #ffffff;
}

.sidebar .list-group-item {
  background-color: #292827;
  color: white;
}

.sidebar .list-group-item.active {
  color: black;
  background: #ffffff;
  border-color: #ffffff;
}

.tag-link {
  color: black;
}

.User-summary img {
  object-fit: cover;
  width:50px;
  height:50px;
}

.Question-header, .User-profile-header, .Index-header  {
  background: white;
  border-bottom: 1px solid #e7e7e7;
}

.Index-header .lead {
  margin-bottom: 2rem;
}

.Index-header .form-group {
  width: 100%
}

.User-profile-header img {
  object-fit: cover;
  width:175px;
  height:175px;
}

.Get-app {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 1040;
  background: white;
}

.Get-app .Divider-container {
  height: 4px;
  overflow: hidden;
  display: block;
}

.Get-app .Divider-line {
  background: radial-gradient(ellipse at 70% 70%,#ee583f 8%,#d92d77 42%,#bd3381 58%);
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.Get-app .Get-app-text {
  min-height: 60px;
}

.Get-app-text h6 {
  margin-bottom: 0rem;
}

.Get-app .close {
  float: none;
}

.Video-content {
  float: none;
  margin: 0 auto;
}

.Get-app-modal {
  padding-top: 15%;
}

.Get-app-modal .modal-header, .Get-app-modal .modal-footer {
  border: none;
}

.Get-app-modal .modal-title {
  font-size: 1rem;
}

@media (max-width: 575px) {
  .User-profile-header img {
    width:150px;
    height:150px;
  }

  .Get-app-btn {
    white-space: normal;
    font-size: 80%;
  }
  
  .Get-app .close {
    float: right;
  }
}
